/* Gradient transparent - color - transparent */

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
  background-color: #000;
  background-image: url(../img/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  font-family: 'Cinzel', 'Noto Sans JP', serif;
  color: #dddddd;
  text-align:center;
  font-weight: 100;
  overflow-x: hidden;
}

span.small {
  font-size: 0.7em;
}
span {
  font-size: 0.8em;
}

h2{
  font-weight: lighter;
  margin:0px;
  margin-bottom:-10px;
}

h3{
  font-weight: lighter;
  margin:0px;
  margin-bottom:-10px;
}

h4{
  font-weight: lighter;
  margin:0px;
  margin-bottom:-15px;
}

hr {
  border: 0;
  height: 1px;
  width: 90%;
  background: #ccc;
  background-image: -webkit-linear-gradient(left, #000, #ccc, #000);
  background-image:    -moz-linear-gradient(left, #000, #ccc, #000);
  background-image:     -ms-linear-gradient(left, #000, #ccc, #000);
  background-image:      -o-linear-gradient(left, #000, #ccc, #000);
}
hr.half {
  border: 0;
  height: 1px;
  width: 70%;
  background: #ccc;
  background-image: -webkit-linear-gradient(left, #000, #999, #000);
  background-image:    -moz-linear-gradient(left, #000, #999, #000);
  background-image:     -ms-linear-gradient(left, #000, #999, #000);
  background-image:      -o-linear-gradient(left, #000, #999, #000);
}

table {
  margin-left: auto;
  margin-right: auto;
  align: center;
}

/**  
* 吹き出しテーブル 
**/
table.t2 {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}
table.t2 th {
	text-align: right;
	width: 15%;
	padding: 10px;
	font-weight: 400;
	vertical-align: top;
	border-right: 0.5px solid #666;
	border-bottom: 0.5px solid #666;
	border-top: 0.5px solid #666;
	border-left: 0.5px solid #666;
	background: #222;
}
table.t2 td {
	width: 75%;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	background: #000;
}
/**  
* ボタン
**/
.square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #aaa;
    border: double 4px #555;
    border-radius: 3px;
    transition: .4s;
    background: #223;
}
.square_btn:hover {
    background: #333;
}
