/* Gradient transparent - color - transparent */

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
  background-color: #000;
  background-image: url(../img/bg2.png);
  background-size: cover;
  font-family: 'Cinzel', 'Noto Sans JP', serif;
  color: #dddddd;
  text-align:center;
  font-weight: 100;
  overflow-x: hidden;
}

span.small {
  font-size: 0.7em;
}
span {
  font-size: 0.8em;
}

h2{
  font-weight: lighter;
  margin:0px;
  margin-bottom:-15px;
}

h3{
  font-weight: lighter;
  margin:0px;
  margin-bottom:-10px;
}

h4{
  font-weight: lighter;
  margin:0px;
  margin-bottom:-15px;
}

hr {
  border: 0;
  height: 1px;
  width: 80%;
  background: #ccc;
  background-image: -webkit-linear-gradient(left, #000, #ccc, #000);
  background-image:    -moz-linear-gradient(left, #000, #ccc, #000);
  background-image:     -ms-linear-gradient(left, #000, #ccc, #000);
  background-image:      -o-linear-gradient(left, #000, #ccc, #000);
}
hr.half {
  border: 0;
  height: 1px;
  width: 50%;
  background: #ccc;
  background-image: -webkit-linear-gradient(left, #000, #999, #000);
  background-image:    -moz-linear-gradient(left, #000, #999, #000);
  background-image:     -ms-linear-gradient(left, #000, #999, #000);
  background-image:      -o-linear-gradient(left, #000, #999, #000);
}

table {
  margin-left: auto;
  margin-right: auto;
  align: center;
}

/**  
* 吹き出しテーブル 
**/
table.company {
width: 400px;
margin: 0 auto;
border-collapse: separate;
border-spacing: 0px 5px;
font-size: 12px;
}
table.company th,
table.company td {
padding: 5px;
}
table.company th {
background: rgba(50,50,50);
vertical-align: middle;
text-align: left;
width: 100px;
overflow: visible;
position: relative;
color: #fff;
font-weight: normal;
font-size: 15px;
}
table.company th:after {
left: 100%;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(136, 183, 213, 0);
border-left-color: rgba(50,50,50);
border-width: 10px;
margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
table.company th::after {
float: right;
padding: 0;
left: 30px;
top: 10px;
content: " ";
height: 0;
width: 0;
position: relative;
pointer-events: none;
border: 10px solid transparent;
border-left: #295890 10px solid;
margin-top: -10px;
}
}
table.company td {
background: #111;
width: 360px;
padding-left: 20px;
}



